.navbar {
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  background-color:#9517d9;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color:aliceblue;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color:aliceblue;
  font-weight: bold;
}


